.PlayerTable {
    @media only screen and (min-width: 800px) {
        margin: 20px 100px;
    }
    @media only screen and (max-width: 800px) {
        margin: 20px 0;
    }
    #addPlayerBtn {
        font-size: 50px;
        position: fixed;
        bottom: 20px;
        right: 15px;
    }
    #addPlayerBtn:hover {
        opacity: 0.6;
        transition: 0.1s linear;
        cursor: pointer;
    }
    td, th {
        text-align: center;
    }
    td {
        span {
            vertical-align: middle;
        }
        span {
            margin: 0 5px;
        }
        span:hover {
            background-color: lightgray;
            border-radius: 100%;
            transition: 0.1s linear;
            cursor: pointer;
        }
    }
}